<article>
    <h2>Lorem ipsum</h2>
    <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptate minima veniam vero dolores ipsum quibusdam blanditiis, temporibus totam quo suscipit unde ad quam incidunt labore commodi, molestias eius accusantium.
        Reprehenderit voluptatum nesciunt adipisci perspiciatis error maiores, blanditiis eum saepe eveniet alias aspernatur accusamus ad, ut in nam cum quibusdam assumenda mollitia aliquam. Doloremque perferendis quaerat explicabo ea. Beatae, recusandae!
        Animi cum quis accusamus quibusdam eius odio modi, beatae tempore ratione! Repudiandae doloremque fugit, voluptatibus libero itaque incidunt, praesentium quibusdam facere deserunt porro aliquam vel id animi ipsum autem consectetur!
        Accusantium numquam id libero delectus quis, repellat maxime quas eius laudantium voluptas ipsam reprehenderit rerum earum tempore maiores odit laborum ratione deleniti explicabo asperiores soluta molestias molestiae. Minima, laborum iste!
        Accusantium praesentium aliquam explicabo cumque ipsum autem saepe porro quis asperiores sapiente nihil veritatis, fuga sit illo nesciunt minus harum consequatur magnam dolorum, ex ut illum? Tenetur quo officiis ab!
    </span>
</article>