.main {
    margin-top: 4rem;
    margin-left: 4rem;
    width: 75vw;
    height: 50vh;
    background-color: black;
    display: flex;
}

img {
    height: 100%;
    width: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 7rem;
    margin-top: 1rem;
}

span {
    font-size: 5vh;
    margin: 1vh 0rem 0rem 4.5rem;
    color: white;
}