:host {
    height: 100vh;
    width: 100%
}

.main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.content {
    max-width: 50vw;
    max-height: 15vh;
    margin: 2rem;
    color: white;
    background-color: black;
    width: 25%;
    display: flex;
}

.img {
    max-width: 15vw;
    max-height: 15vh;
    height: 100%;
}

.text {
    max-height: 15vh;
    font-size: 1.75vh;
}